.button-primary {
  margin-bottom: 60px;
  padding: 28px 52px;
  border-radius: 20px;
  background-color: #e95415;
  box-shadow: 0 3px 17px 0 rgba(112, 81, 239, 0.27);
  -webkit-transition: box-shadow 350ms, -webkit-transform 350ms;
  transition: box-shadow 350ms, transform 350ms, -webkit-transform 350ms;
  color: #fff;
  font-size: 20px;
  line-height: 1em;
  font-weight: 700;
  text-align: center;
  text-transform: none;
}

.w-button {
  display: inline-block;
  padding: 9px 15px;
  background-color: #3898ec;
  color: #fff;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
}

a,
Link {
  background-color: transparent;
  -webkit-transition: color 350ms;
  transition: color 350ms;
  color: #e95415;
  text-decoration: underline;
}

/* Traversy Media button */
.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

button:hover {
  /* Increase box-shadow size, as well as button size and invert colors */
  box-shadow: 0 7px 25px 0 rgb(112 81 239 / 27%);
  transform: scale(1.05);
  background-color: #fff;
  color: rgba(126, 168, 24);
}
