.nav-link .current {
  background-color: #f7f6ff;
  color: rgba(126, 168, 24);
  font-weight: 500;
}
.nav-link:hover {
  background-color: #f7f6ff;
  color: rgba(126, 168, 24);
  font-weight: 500;
}

.nav-link {
  display: block;
  padding: 16px 19px;
  border-radius: 14px;
  -webkit-transition: box-shadow 350ms, -webkit-transform 350ms;
  transition: box-shadow 350ms, transform 350ms, -webkit-transform 350ms;
  background-color: #fff;
  color: rgba(126, 168, 24);
  line-height: 1em;
  text-decoration: none;
  text-transform: none;
}

button {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
